.card {
  --border-radius: .5em;
}

.card {
  width: 100%;
  margin: 1.5em;
  padding: 3.5em 0;
  border-radius: 2px;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.88);
  word-break: break-all;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: var(--border-radius);
  font-size: 1em;
  background-color: #fff;
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center,#fff 0,#000 95%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  border-radius: var(--border-radius);
}

.card--is-selected {
  background-color: var(--selected-color);
}

.card--is-selected.card--blue-team {
  background-color: var(--blue);
}

.card--is-selected.card--red-team {
  background-color: var(--red);
}

.card--leader.card--neutral, .card--is-selected.card--neutral {
  background-color: var(--neutral);
}

.card--is-selected.card--death, .card--leader.card--death {
  background-color: #000;
  color: #fafafa;
}

.card--leader {
  border-width: 2px;
}

.card--leader.card--blue-team {
  background-color: var(--blue);
}

.card--leader.card--red-team {
  background-color: var(--red);
}

.card--leader.card--is-selected {
  opacity: .5;
}
