.card {
  width: 8em;
  margin: 1em;
  padding: 3em;
  border: 1px solid grey;
  border-radius: 2px;
  box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.42);
  word-break: break-word;
  text-align: center;
}

.card--is-selected {
  box-shadow: none;
  background-color: #c1c1c1;
}

.card--is-selected.card--blue-team {
  background-color: #4598ff;
}

.card--is-selected.card--red-team {
  background-color: #ea3a3a;
}
